<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CAST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="header"> 
      
      <h3 class="text-muted">CAST</h3>
    </div>
      <div>
      
 

        <form action="/submit/" class="form-horizontal" enctype="multipart/form-data"
 method="post">
  <fieldset>
                  {% csrf_token %}

         
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email">
      </div> <br> <br>

       <label  class="col-lg-2 control-label">File</label>
      <div class="col-lg-10">
        <input type="file" class="form-control" name="file" id="inputEmail" placeholder="Email">
      </div>

          
        <br>
        <br>
        <center>  
        <button type="submit" class="btn btn-primary">Submit</button>
      </center>
    </div>
  </fieldset>

        </form>

      </div>
   
  </div>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

</body>
</html>
