<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CAST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="header"> 
      
      <h3 class="text-muted">CAST</h3>
    </div>
      <div>
      
 

        <form action="/submit/" id="submit" class="form-horizontal" enctype="multipart/form-data"
 method="post">
  <fieldset>
                  {% csrf_token %}

         
                <label for="inputEmail" id="email" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        
        <input type="email" id="email1" name="email" class="form-control" placeholder="mail@ampush.com" />
      </div> <br> <br>


       <label  class="col-lg-2 control-label">File</label>
      <div class="col-lg-10">
        <input type="file" class="form-control" name="file" id="inputEmail" placeholder="Email">
      </div>

          
        <br>
        <br>
        <center>  
        <button type="submit" class="btn btn-primary">Submit</button>
      </center>
    </div>
  </fieldset>

        </form>

      </div>
   
  </div>
   
   
  <script type="text/javascript">
   
   $(document).ready(function () {
  
       $('#submit').submit(function() {
    if(validateEmail($('#email1').val())==true){
      return true;

    }
    else {
    return false;
    }
      });

   });
  

function validateEmail(email) {
    var re = /^\s*[\w\-\+_]+(\.[\w\-\+_]+)*\@[\w\-\+_]+\.[\w\-\+_]+(\.[\w\-\+_]+)*\s*$/;
    if (re.test(email)) {
        if (email.indexOf('@ampush.com', email.length - '@ampush.com'.length) !== -1) {
            return true 
        } else {
            alert('Email must be a Ampush e-mail address ');
        }
    } else {
        alert('Not a valid e-mail address.');
    }
}
  </script>
   
   
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 
 
</body>
</html>
